<p *ngIf="!examinations?.length">No examinations</p>
<p *ngFor="let exam of examinations">{{ exam.type }} - {{ exam.price }} - {{ exam.duration }} - {{ exam.specialization.type }}</p>

<form [formGroup]="inputForm" (ngSubmit)="addExaminationType()">
    <div class="mb-3">
        <label for="examType" class="form-label">Type:</label>
        <input id="examType" type="text" formControlName="type" class="form-control mb-3">

        <label for="examPrice" class="form-label">Price:</label>
        <input id="examPrice" type="text" formControlName="price" class="form-control mb-3">
        
        <label for="examDuration" class="form-label">Duration:</label>
        <input id="examDuration" type="text" formControlName="duration" class="form-control mb-3">
        
        <select class="form-select mb-3" formControlName="specialization">
            <option selected value="">Select specialization</option>
            <option *ngFor="let spec of specializations" value="{{ spec.id }}">{{ spec.type }}</option>
          </select>
        <button class="btn btn-primary" type="submit" [disabled]="!inputForm.valid">Add</button>
    </div>
</form>

<a routerLink="/manager/specializations">Specializations</a> <br>
<a routerLink="/manager/new-examination-requests">New Examination requests</a>