<p *ngIf="!examinationTypes?.length">No examination types</p>
<p *ngFor="let exam of examinationTypes">{{ exam.type }} - {{ exam.specialization.type }}</p>

<form [formGroup]="inputForm" (ngSubmit)="addExaminationType()">
    <div class="mb-3">
        <label for="examType" class="form-label">Add new:</label>
        <input id="examType" type="text" formControlName="type" class="form-control mb-3">
        <select class="form-select" formControlName="specialization">
            <option selected value="">Select specialization</option>
            <option *ngFor="let spec of specializations" value="{{ spec.id }}">{{ spec.type }}</option>
          </select>
        <button class="btn btn-primary" type="submit" [disabled]="!inputForm.valid">Add</button>
    </div>
</form>
