<form [formGroup]="newExaminationForm" (ngSubmit)="requestExamination()">
    <div class="mb-3">
        <label for="name" class="form-label">Examination name: </label>
        <input id="name" type="text" formControlName="type" class="form-control">

        <label for="duration" class="form-label">Duration: </label>
        <input id="duration" type="text" formControlName="duration" class="form-control">

        <label for="price" class="form-label">Price: </label>
        <input id="price" type="text" formControlName="price" class="form-control">

        <button class="btn btn-primary" type="submit" [disabled]="!newExaminationForm.valid">Request</button>
    </div>
</form>