<div class="row align-items-center" style="height:100vh">
    <div class="mx-auto col-10 col-md-8 col-lg-6">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="currentPassword" class="form-label ml-1">Current password:</label>
                <input id="currentPassword" type="password" formControlName="currentPassword" class="form-control password">
            </div>
        
            <div class="mb-3">
                <label for="password" class="form-label ml-1">New password:</label>
                <input id="password" type="password" formControlName="password" class="form-control password">
            </div>
            
            <div class="mb-3">
                <label for="password2" class="form-label ml-1">Repeat new password:</label>
                <input id="password2" type="password" formControlName="password2" class="form-control password">
            </div>

            <button class="btn btn-primary" type="submit" [disabled]="!changePasswordForm.valid">Change</button>
        </form>
    </div>
</div>