<h5 *ngIf="!scheduledExaminations?.length">You don't have any scheduled examinations.</h5>
<div *ngIf="scheduledExaminations?.length > 0">
  <h3>Scheduled examinations</h3>
  <table class="table table-bordered m-1">
      <thead>
        <tr>
          <th scope="col">Examination type</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Office department</th>
          <th scope="col">Patient</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exam of scheduledExaminations">
          <td>{{ exam.examination.type }}</td>
          <td>{{ exam.date | date }}</td>
          <td>{{ exam.time }}</td>
          <td>{{ exam.doctor.officeDepartment }}</td>
          <td><a [routerLink]="['/doctor', 'report', exam.patient.id]">{{ exam.patient.firstName }} {{ exam.patient.lastName }}</a></td>
        </tr>
      </tbody>
  </table>
</div>