<div class="row align-items-center" style="height:100vh">
    <div class="mx-auto col-10 col-md-8 col-lg-6">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input id="username" type="text" formControlName="username" class="form-control">
            </div>
        
            <div class="mb-3">
                <label for="password" class="form-label ml-1">Password:</label>
                <input id="password" type="password" formControlName="password" class="form-control password">
            </div>
            
            <div class="mb-3">
                <label>
                    <input type="radio" value="patient" class="mx-3" formControlName="role">
                      <span>Patient</span>
                  </label>
                  <label>
                    <input type="radio" value="doctor" class="mx-3" formControlName="role">
                      <span>Doctor</span>
                  </label>
                
            </div>

            <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Login</button>
        </form>
        <h5> {{ message.msg }} </h5>
    </div>
</div>