<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
        <P>add button or icon for home page</P>
    </div>

    <div *ngIf="authService.user.role === 'visitor'" class="col-md-3 text-end">
    <button type="button" class="btn btn-outline-primary me-2" [routerLink]="'login'">Login</button>
    <button type="button" class="btn btn-primary me-2" [routerLink]="'register'">Sign-up</button>
    </div>

    <div *ngIf="authService.user.role === 'patient' || authService.user.role === 'doctor'">
        <button type="button" class="btn btn-outline-primary me-2" [routerLink]="authService.user.role === 'patient' ? 'patient/profile' : ''">Profile</button>
    </div>

    <div *ngIf="authService.user.role === 'patient'">
        <button type="button" class="btn btn-outline-primary me-2">Examinations</button>
    </div>

    <div *ngIf="authService.user.role === 'manager'" class="col-md-5 text-end">
          <button type="button" class="btn btn-outline-primary me-2">Patients</button>
          <button type="button" class="btn btn-outline-primary me-2" routerLink="/manager/doctors">Doctors</button>
          <button type="button" class="btn btn-outline-primary me-2" routerLink="/manager/examination-types">Services and prices</button>
          <button type="button" class="btn btn-outline-primary me-2">Registration requests</button>
          <button type="button" class="btn btn-outline-primary me-2">Examination requests</button>
    </div>

    <div *ngIf="authService.user.role !== 'visitor'" class="cold-md-2 text-end">
        <button type="button" class="btn btn-outline-primary me-2" [routerLink]="'change-password'">Change password</button>
        <button type="button" class="btn btn-primary me-2">Sign out</button>
    </div>
</header>

<div class="px4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">About us</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias officiis saepe odit voluptatibus mollitia et, sequi rem explicabo quis non, est ipsa incidunt laborum, architecto voluptate ipsum veniam maxime unde magni illum iure quibusdam modi doloribus. Ducimus vitae quas itaque maxime nesciunt error! Assumenda, unde. Soluta doloribus quasi nemo eveniet.</p>
    </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="../../assets/images/1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="../../assets/images/2.jpg" class="d-block w-100" alt="...">
        </div><div class="carousel-item">
        <img src="../../assets/images/3.jpg" class="d-block w-100" alt="...">
        </div><div class="carousel-item">
        <img src="../../assets/images/4.jpg" class="d-block w-100" alt="...">
        </div><div class="carousel-item">
        <img src="../../assets/images/5.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<app-doctor-list></app-doctor-list>